.web3modal-modal-lightbox { z-index: 100000 !important; }
a {
    text-decoration: none;
}

.MuiCardHeader-content {
    max-width: 100%;
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
}