@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Questrial;
}

body {
  overflow: initial !important;
}

.-cbwsdk-css-reset *, .SnackbarItem-wrappedRoot *, #walletconnect-wrapper * {
  font-family: Questrial !important;
}

.SnackbarItem-wrappedRoot .MuiButtonBase-root {
  text-transform: capitalize;
}

.SnackbarItem-wrappedRoot .MuiButton-containedPrimary {
  background-color: #F4CE00;
  color: black;
}

.SnackbarItem-wrappedRoot .MuiButton-containedSecondary {
  background-color: #7A55FF;
  color: white;
}

.SnackbarItem-wrappedRoot * {
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.web3modal-modal-lightbox { z-index: 100000 !important; }